#pictures{
    background-color: black;
    border: 5px solid grey;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;


}
#pictures>img{
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 1%;
    width: 45%;

}
div{
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
}